body {
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.calculator {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 320px;
}

.display {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#input {
  height: 50px;
  font-size: 1.5em;
  padding: 10px;
  text-align: right;
  border: none;
  background: #eaeaea;
  border-radius: 8px;
}

#history {
  font-size: 0.9em;
  color: gray;
  text-align: right;
  margin-top: 5px;
  height: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  background-color: #45b6fe;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #3498db;
}
.calculator-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #0e2433;
  font-weight: bold;
}

